<!-- templates/admin/reducir_cantidad.html -->
{% extends "admin/base_site.html" %}  <!-- Asegúrate de que esta plantilla exista -->
{% load static %}

{% block content %}
<h1>Reducir Cantidad de Productos</h1>
<p>Selecciona cuánta cantidad deseas reducir para los productos seleccionados:</p>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="apply" value="Reducir Cantidad">
    <a href="{% url 'admin:inventory_productoinventario_changelist' %}">Volver</a>
</form>

{% if messages %}
    <ul class="messagelist">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
