{% extends "admin/change_list.html" %}

{% block object-tools-items %}
    {{ block.super }}
    {% if request.user.is_superuser %}
        <!-- Enlace para generar el reporte en Excel en una nueva pestaña -->
        <li><a href="{% url 'admin:generar-reporte-excel' %}" target="_blank">Generar Reporte Excel</a></li>

        <!-- Enlace para generar el reporte en PDF en una nueva pestaña -->
        <li><a href="{% url 'admin:generar-reporte-pdf' %}" target="_blank">Generar Reporte PDF</a></li>
    {% endif %}
{% endblock %}
