{% extends 'base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Iniciar Sesión</h2>
    <form method="POST" class="mx-auto" style="max-width: 400px;">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="id_username" class="form-label">Email</label>
            {{ form.username }}
        </div>
        
        <div class="mb-3">
            <label for="id_password" class="form-label">Contraseña</label>
            {{ form.password }}
        </div>
        
        <button type="submit" class="btn w-100" style="background-color: #0833a2; color: white;">Iniciar Sesión</button>
    </form>
    
    <div class="text-center mt-3">
        <p>¿No tienes cuenta? <a href="{% url 'register' %}">Regístrate aquí</a></p>
        <p><a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></p> <!-- Enlace para recuperar la contraseña -->
    </div>
</div>
{% endblock %}
