{% extends 'base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Iniciar Sesión</h2>
    <form method="POST" class="mx-auto" style="max-width: 400px;">
        {% csrf_token %}
        
        <!-- Mostrar errores generales del formulario -->
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        
        <div class="mb-3">
            <label for="id_username" class="form-label">Email</label>
            {{ form.username }}  <!-- Los valores ingresados previamente se mantendrán aquí -->
            {% if form.username.errors %}
                <div class="text-danger">
                    {% for error in form.username.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        
        <div class="mb-3">
            <label for="id_password" class="form-label">Contraseña</label>
            {{ form.password }}  <!-- Los valores ingresados previamente se mantendrán aquí -->
            {% if form.password.errors %}
                <div class="text-danger">
                    {% for error in form.password.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        
        <button type="submit" class="btn w-100" style="background-color: #0833a2; color: white;">Iniciar Sesión</button>
    </form>
    
    <div class="text-center mt-3">
        <p>¿No tienes cuenta? <a href="{% url 'register' %}">Regístrate aquí</a></p>
        <p><a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></p> <!-- Enlace para recuperar la contraseña -->
    </div>
</div>
{% endblock %}
