{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <style>
        /* Ajustar tamaño del carrusel */
        #imagenCarrusel {
            max-width: 400px;
            margin: 0 auto;
        }

        .carousel-item img {
            height: 400px;
            object-fit: cover;
        }

        /* Mejorar espaciado y bordes de los elementos */
        .producto-detalles h1,
        .producto-detalles h3,
        .producto-detalles h6 {
            margin-bottom: 1rem;
        }

        /* Formato de botones */
        .btn-agregar {
            background-color: #0833a2;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 1.1rem;
        }

        /* Formato de los detalles */
        .producto-detalles .list-group-item {
            font-size: 1.1rem;
            padding: 15px;
        }

        .comentarios p {
            font-size: 1rem;
        }

        .comentarios .comentario-item {
            background-color: #f8f9fa;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 15px;
        }
    </style>

    <div class="container mt-4">
        <div class="row">
            <!-- Columna de carrusel de imágenes -->
            <div class="col-md-6">
                <h2>Imágenes del Producto</h2>
                <div id="imagenCarrusel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% if imagenes %}
                            {% for imagen in imagenes %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img src="{{ imagen.url.url }}" alt="{{ imagen.descripcion }}" class="d-block w-100">
                                    <div class="carousel-caption d-none d-md-block">
                                        <p>{{ imagen.descripcion }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="carousel-item active">
                                <img src="https://via.placeholder.com/400" alt="No hay imágenes" class="d-block w-100">
                                <div class="carousel-caption d-none d-md-block">
                                    <p>No hay imágenes disponibles para este producto.</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <a class="carousel-control-prev" href="#imagenCarrusel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#imagenCarrusel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>

            <!-- Columna de detalles -->
            <div class="col-md-6 producto-detalles">
                <h1>{{ producto.nombre }}</h1>
                {% load humanize %}
                <h3 style="color: green;">${{ producto.precio|intcomma }}</h3>
                <h6>{{ producto.descripcion }}</h6>
                <form method="POST" action="{% url 'agregar_al_carrito' producto.id_producto %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-agregar">Agregar al carrito</button>
                </form>
            </div>
        </div>

        <h3>Detalles del producto</h3>
        <!-- Detalles adicionales del producto -->
        <div class="row">
            <div class="col-md-12">
                <div class="list-group mb-4">
                    {% for campo, valor in producto_dict.items %}
                        <div class="list-group-item">
                            <strong>{{ campo|capfirst }}:</strong> {{ valor }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Comentarios y calificaciones -->
    <div class="container comentarios">
        <h2>Comentarios y calificaciones:</h2>
        <div class="row">
            <div class="col-md-12">
                {% for comentario in comentarios %}
                    <div class="comentario-item">
                        <p><strong>{{ comentario.usuario.username }}</strong> Comentario: {{ comentario.texto }} -- Calificación: {{ comentario.calificacion }}</p>
                    </div>
                {% empty %}
                    <p>No hay comentarios aún.</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Formulario para agregar una nueva calificación y comentario -->
    <div class="container">
        <h3>Añadir una calificación y comentario</h3>
        <form method="post" action="{% url 'detalle_producto' producto.id_producto %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_calificacion">Puntuación</label>
                <select class="form-control" id="id_calificacion" name="calificacion" required>
                    <option value="">Selecciona una calificación de 1 a 5...</option>
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                </select>
                {% if comentario_form.calificacion.errors %}
                    <ul class="errorlist">
                        {% for error in comentario_form.calificacion.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_texto">Comentario</label>
                <textarea class="form-control" id="id_texto" name="texto" rows="3" required placeholder="Escribe tu comentario aquí..."></textarea>
                {% if comentario_form.texto.errors %}
                    <ul class="errorlist">
                        {% for error in comentario_form.texto.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <button type="submit" class="save btn btn-agregar">Enviar comentario</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</br>
{% endblock %}
