{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
    <div class="container mt-4">
        <h1 class="text">{{subtitle}}</h1>
        <div class="row">
            <div class="col-12 d-flex justify-content-between mb-3"> <!-- Usar flexbox para alinear elementos -->
                <!-- Botón para ordenar por categoría -->
                <form method="get" action="{% url 'product_index' %}" class="me-2"> <!-- Asegúrate de que haya margen a la derecha -->
                    <button type="submit" name="ordenar" value="true" class="btn btn-secondary" style="background-color: #bc761a; color: white;">Ordenar por Categoría</button>
                </form>
    
                <!-- Formulario de búsqueda -->
                <form method="get" action="{% url 'product_index' %}" class="d-flex"> <!-- Alineación del formulario de búsqueda -->
                    <input type="text" name="busqueda" placeholder="Buscar por nombre" value="{{ busqueda }}" class="form-control me-2" style="width: auto;"/>
                    <button type="submit" class="btn btn-secondary" style="background-color: #bc761a; color: white;">Buscar</button>
                </form>
            </div>
        </div>

        <div class="row">
            {% for item in productos_con_imagen %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.producto.nombre }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">${{ item.producto.precio }}</h6>
                            <p class="card-text"><strong>Categoría:</strong> {{ item.producto.categoria.nombre }}</p>  <!-- Mostrar la categoría -->
                            {% if item.primera_imagen %}
                                <img src="{{ item.primera_imagen.url.url }}" alt="{{ item.primera_imagen.descripcion }}" class="card-img-top" style="max-height: 200px; object-fit: cover;">
                            {% else %}
                                <img src="https://via.placeholder.com/200" alt="No hay imagen" class="card-img-top" style="max-height: 200px; object-fit: cover;">
                            {% endif %}
                            <p class="card-text">{{ item.producto.descripcion }}</p>
                            <a href="{% url 'detalle_producto' item.producto.id_producto %}" class="btn btn-primary" style="background-color: #bc761a; color: white;">Ver Detalles</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
