{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h2>Tu carrito de compras</h2>
<ul>
    {% for item in carrito.items.all %}
        <li>
            Producto: {{ item.producto.nombre }} <br>
            Cantidad: {{ item.cantidad }} <br>
            Precio total: {{ item.get_total_price }}

            <form method="POST" action="{% url 'eliminar_del_carrito' item.id %}">
                {% csrf_token %}
                <button type="submit">Eliminar</button>
            </form>
        </li>
    <div>
        <form method="POST" action="{% url 'crear_orden' %}">
            {% csrf_token %}
            <button type="submit">Proceder a la compra</button>
        </form>
    </div>
    {% empty %}
        <p>No tienes productos en tu carrito.</p>
    {% endfor %}
</ul>
{% endblock %}
    