{% extends 'base.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}
<h1>{{Subtitle}}</h1>
<div class="container">
    <h2>{{Slogan}}</h2>
    <p class="lead">{{Contenido_slogan}}</p>
</div>
<div class="container">
    <h2>{{Historia}}</h2>
    <p class="lead">{{Contenido_historia}}</p>
</div>
<div class="container">
    <h2>{{Mision}}</h2>
    <p class="lead">{{Contenido_Mision}}</p>
</div>
<div class="container">
    <h2>{{Vision}}</h2>
    <p class="lead">{{Contenido_Vision}}</p>
</div>

<div class="container">
    <h2>{{Valores}}</h2>
    <p class="lead">{{Contenido_Valores}}</p>
    <div class="container">
        <h4>{{Valor_1}}</h4>
        <p class="lead">{{Contenido_valor_1}}</p>
    </div>
    <div class="container">
        <h4>{{Valor_2}}</h4>
        <p class="lead">{{Contenido_valor_2}}</p>
    </div>
    <div class="container">
        <h4>{{Valor_3}}</h4>
        <p class="lead">{{Contenido_valor_3}}</p>
    </div>
    <div class="container">
        <h4>{{Valor_4}}</h4>
        <p class="lead">{{Contenido_valor_4}}</p>
    </div>
    <div class="container">
        <h4>{{Valor_5}}</h4>
        <p class="lead">{{Contenido_valor_5}}</p>
    </div>
</div>


<div class="container">
    <h2>{{Politica_de_calidad}}</h2>
    <p class="lead">{{Contenido_politica_de_calidad}}</p>
</div>

<div class="container">
    <h2>{{Actividad_economica}}</h2>
    <p class="lead">{{Contenido_actividad_economica}}</p>
</div>


{% endblock %}