{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1>Detalle de la Orden #{{ orden.orderNumber }}</h1>
    <p>Fecha de la orden: {{ orden.orderDate }}</p>
    <p>Estado: {{ orden.get_status_display }}</p>

    <h2>Productos en esta orden:</h2>
    <ul>
        {% for orden_producto in orden.ordenproducto_set.all %}
            <li>{{ orden_producto.producto.nombre }} - Cantidad: {{ orden_producto.cantidad }} - Precio: {{ orden_producto.producto.precio }}</li>
        {% endfor %}
    </ul>

    <p>Total: {{ orden.totalAmount }}</p>
    <p><a href="{% url 'ver_carrito' %}">Volver al carrito</a></p>
{% endblock %}